.grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;
}
header{
    background-color: black;
    color: lightgray;
    grid-row: 1;
    height: 35px;
    grid-row: 1;
    grid-column: 1 / 4;
    padding: 10px;
}
body{
    background-color: #fcfcfc;
    margin:0%;
}

.cellMain{
    grid-column: 1 / 4;
    flex:2;
    padding: 10px;
}
.cellAside{
    flex:1;
    background-color: red;
    padding: 10px;
}
.cellfoot{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
.left{
    display: flex;
    gap: 15px;
}
.right{
    display: flex;
    gap: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
a{
    width:max-content
}
footer{
    background-color: darkgray;
    padding: 10px;
}
a:link{
    text-decoration: none;
    color: lightgray;
}
a:visited{
    text-decoration: none;
    color: lightgray;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}
.source{
    text-align:left;
    color:black;
}
.realisation{
    text-align:right;
    color:black;
}
.photo1{
    width:100%;
}
.ac{
    margin: 2%;
    padding: 5px;
    padding-bottom:0%;
    border: black;
    border-style:solid;
}
figure{
    width: fit-content;
    width: 50%;
}
    